  <!-- ======= Hero Section ======= -->
  <style>
      
    .hero-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/skills.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    
    .hero-text {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      color: aliceblue;
    }
      </style>
      <div class="hero-image">
        <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <h1 style="font-size: 80px; font-weight: 100;">Skills</h1><br>
        </div>
      </div>
      <main id="main">
    
        <!-- ======= About Us Section ======= -->
        <section id="about-us" class="about-us">
          <div class="container" data-aos="fade-up">
    
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right">
                <h1 style="text-align: center; margin-bottom: 20px;"><img src="assets/img/logo.png" alt=""></h1>
                <h3 style="text-align: center;">" To provide high quality products that combine performance with value pricing while establishing a successful relationship with our customer."</h3>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
                <p>
                  We are one of the top Software Development agencies in India and our team works assiduously in tandem with the latest marketing tools in a quest to produce the best and most successful strategy for our customers ensuring an excellent conversion ratio.
                </p>
                <ul>
                  <li><i class="ri-check-double-line"></i> 24 X 7 Support</li>
                  <li><i class="ri-check-double-line"></i> Best, Cheap & Reliable</li>
                  <li><i class="ri-check-double-line"></i> Quality Works</li>
                </ul>
                <p class="font-italic">
                  Total transparency, quality product, fast and secure delivery. We have excelled in each front to offer you end-to-end web solutions across technologies and platforms.
                </p>
              </div>
            </div>
            <br><br>
          </div>
        </section><!-- End About Us Section -->
    
    
    
    
    
    <section id="skills" class="skills">
      <div class="container">
    
        
          <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Our Skills</h2>
    
        <div class="row skills-content">
    
          <div class="col-lg-6" data-aos="fade-up">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Website Development</h5>
            <div class="progress">
              <span class="skill">E-commerce<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Blogs<i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width:96%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Portfolio <i class="val">88%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width:88%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Landing pages<i class="val">93%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width:93%"></div>
              </div>
            </div>
    
          </div>
    
          
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Software & Application Development</h5>
            <div class="progress">
              <span class="skill">Billing Software<i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Accounts Software<i class="val">72%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width:72%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Web Application<i class="val">89%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100" style="width:89%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Bussiness Managemant System<i class="val">76%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width:76%"></div>
              </div>
            </div>
            
          </div>
    
        </div>
    
        <div class="row skills-content">
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Android & IOS Development</h5>
            <div class="progress">
              <span class="skill">Native apps<i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Web apps<i class="val">86%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width:86%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Hybrid apps<i class="val">74%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100" style="width:74%"></div>
              </div>
            </div>
          </div>
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Search Engine Optimization (SEO)</h5>
            <div class="progress">
              <span class="skill">Keyword research<i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Optimizing title tags and meta tags<i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100" style="width:96%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Creating optimized content<i class="val">98%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width:98%"></div>
              </div>
            </div>
          </div>
        
        </div>
    
        <div class="row skills-content">
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Graphic Designing</h5>
            <div class="progress">
              <span class="skill">Logo Designing<i class="val">88%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width:88%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Banner & Poster Designing<i class="val">97%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="97" aria-valuemin="0" aria-valuemax="100" style="width:97%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Magzine & Visiting Cards Designing<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%"></div>
              </div>
            </div>
          </div>
    
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h5 style="font-family: 'Ruthie', cursive; font-size: 40px; text-align: center;">Digital Marketing</h5>
            <div class="progress">
              <span class="skill">Social Media Marketing<i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">App Marketing<i class="val">73%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="73" aria-valuemin="0" aria-valuemax="100" style="width:73%"></div>
              </div>
            </div>
    
            <div class="progress">
              <span class="skill">Website Marketing<i class="val">78%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width:78%"></div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
    </section><!-- End Our Skills Section -->
    
    
    
    
    
    
    
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
          <div class="container" data-aos="fade-up">
    
           
              <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Technologies</h2>
              <p style="text-align: center;">Achieve massive results with our offers
                We make sure you continue to growing with us!</p>
            <br>
    
            <div class="row">
              <div class="col-lg-3 col-md-4">
                <div class="icon-box">
                  <i class="fab fa-bootstrap" style="color: #2c52eb;"></i>
                  <h3><a>Bootstrap</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                  <i class="fab fa-java" style="color: #df7f11;"></i>
                  <h3><a>Java</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                <div class="icon-box">
                  <i class="fab fa-html5" style="color: #df5211;"></i>
                  <h3><a>HTML 5</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                <div class="icon-box">
                  <i class="fab fa-css3-alt" style="color: #1160df;"></i>
                  <h3><a>CSS 3</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-js-square" style="color: #f3dc0f;"></i>
                  <h3><a>JavaScript</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-php" style="color: #1684dff3;"></i>
                  <h3><a>PHP</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-python" style="color: #d8ec28;"></i>
                  <h3><a>Python</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-node" style="color: #28ec32;"></i>
                  <h3><a>Node JS</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-swift" style="color: #cedd85;"></i>
                  <h3><a>Swift</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-android" style="color: #31bd25;"></i>
                  <h3><a>Android</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-wordpress" style="color: #2574bd;"></i>
                  <h3><a>Wordpress</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-react" style="color: #3235e0;"></i>
                  <h3><a>React</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-angular" style="color: #cf2610;"></i>
                  <h3><a>Angular JS</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fas fa-ad" style="color: #2c52cf;"></i>
                  <h3><a>Advertisement</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fab fa-apple" style="color: #9e9e9ec5;"></i>
                  <h3><a>Mac</a></h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 mt-4">
                <div class="icon-box">
                  <i class="fas fa-image" style="color: #1936aae3;"></i>
                  <h3><a>Photoshop</a></h3>
                </div>
              </div>
            </div>
    
            
            
          </div>
        </section><!-- End Features Section -->
    
    
    
    
    
      </main><!-- End #main -->
      
      