<main id="main">

    <!-- ======= Contact Section ======= -->
    <style>
      
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: aliceblue;
}






    </style>
    <div class="hero-image">
      <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 80px; font-weight: 100;">Advertise Your Bussiness</h1><br>
      </div>
    </div>

    <section id="contact" class="contact">
    <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Youtube Advertising</h1>
        </div>
        <div class="col-lg-10">
          <p>You only pay when someone chooses to watch at least 30 seconds or clicks on your ad. Engage with your most valuable audiences on the world's largest video platform. Reach the Right Customers. Make A Video Ad. Be Seen On YouTube. With YouTube ads, reach potential customers and have them take action when they watch or search for videos on YouTube – and only pay when they show interest. Over the last two years, the number of small- and medium-sized businesses advertising on YouTube has doubled.</p>
          <p>YouTube Ads can help you connect with people who are interested in what you have to offer. From sports fans to fashionistas, and everyone in between, people come to YouTube for the content they love. With Find My Audience, it’s easy to get a deeper understanding of your most valuable customers – their interests, their habits, and what they’re planning to purchase.</p>
          <p>With a wide variety of targeting methods available to you, such as demographic groups, interests and remarketing lists, you can reach specific or niche audiences based on who they are, what they’re interested in and what content they’re viewing. If you’re reaching the wrong audience or have yet to use targeting at all, you’ll likely see that more people are skipping your ads than you would like. You can positively impact your view rate by adding targeting to your campaigns and making refinements over time and we are expert in this.</p>
        </div>

        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Start Youtube Advertisiment</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="google">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bullseye"></i>
                  <h4>Defining Your Goals</h4>
                  <p> The research will form the basis of your personalized Youtube Ads strategies.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-people"></i>
                  <h4>Targeting the Right Audience</h4>
                  <p>The audience we target is highly researched and have a high chance of being your repeated customers</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-wrench"></i>
                  <h4>Optimizing your Strategy</h4>
                  <p>We keep an eye on the smallest of the changes in your PPC ads results and analyze its reason.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Google Advertising</h1>
        </div>
        <div class="col-lg-10">
          <p>Google Ads is an online advertising platform developed by Google, where advertisers bid to display brief advertisements, service offerings, product listings, or videos to web users. It can place ads both in the results of search engines like Google Search and on non-search websites, mobile apps, and videos. MeshScript is a Adwords specialists agencies who have mastered the techniques of Adwords/ Google Ads management.</p>
          <p>We know the workings of Google’s algorithms. How the organic algorithm works and how it differs with an Advertising algorithm. So we know how to leverage this for your benefit. A lot of research and thinking goes into a particular ad campaign. Brand’s goals, budget, current state, problems and many other elements are taken into account.</p>
          <p>Google Adwords/ Google Ads provides a lot of options to advertise a business but the skill lies in choosing the right campaign type. There are so many options available but that doesn’t mean you roll out everything. Campaign type depends on your budget, audience, goals. There is no one-size-fits-all approach. This is why our personalized PPC strategies work well. The confidence in our claims come from our wide experience. Experience in dealing with major industries all over the country. Business who turned their fortune with just our PPC services.</p>
        </div>
        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Start Google Advertisiment</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bullseye"></i>
                  <h4>Defining Your Goals</h4>
                  <p> The research will form the basis of your personalized Adwords strategies.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-people"></i>
                  <h4>Targeting the Right Audience</h4>
                  <p>The audience we target is highly researched and have a high chance of being your repeated customers</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-wrench"></i>
                  <h4>Optimizing your Strategy</h4>
                  <p>We keep an eye on the smallest of the changes in your PPC ads results and analyze its reason.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br>
      <app-contact-detail></app-contact-detail>


    </section><!-- End Contact Section -->

  </main><!-- End #main -->
