<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a routerLink="/"><img src="./../../../assets/img/meshscript.png" alt="MeshScript"></a></h1>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li>
            <a routerLink="/" class="active">Home</a>
          </li>
          <li>
            <a routerLink="/about" class="" >About Us</a>
          </li>
          <li>
            <a routerLink="/projects" class="">Recent Projects</a>
          </li>
          <li>
            <a routerLink="/skills" class="">Skills & Technology</a>
          </li>
          <li class="dropdown">
            <a routerLink="services"class=""><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li>
                <a routerLink="/website" >Website Development & Maintainance</a>
              </li>
              <li>
                <a routerLink="/advertising" >Paid Advertisement</a>
              </li>
              <li>
                <a routerLink="/application" >Android and IOS App Development</a>
              </li>
              <li><a routerLink="/graphic" ><span>Graphics & Logo Designing</span></a></li>
              <li>
                <a routerLink="/seo" class="">Search Engine Optimization (SEO)</a>
              </li>
              <li>
                <a routerLink="/marketing" class="">Digital Marketing & Social Media Management</a>
              </li>
            </ul>
          </li>
          <li><a routerLink="/contact" class="">Contact</a></li>
          <li><a routerLink="/payment" class="">Payment</a></li>
          <li><a routerLink="/blog/1" class="">Blogs</a></li>

          <div class="header-social-links d-flex">
            <a href="https://www.facebook.com/MeshScript-108142988008330" target="_blank" class="facebook"><i style="font-size: 20px;" class="bu bi-facebook"></i></a>
            <a href="https://www.instagram.com/meshscript/" target="_blank" class="instagram"><i style="font-size: 20px;" class="bu bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/meshscript/" target="_blank" class="linkedin"><i style="font-size: 20px;" class="bu bi-linkedin"></i></a>
          </div>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav>
    </div>
  </header>
<br><br>