<main id="main">

    <!-- ======= Contact Section ======= -->
    <style>
      
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: aliceblue;
}
    </style>
    <div class="hero-image">
      <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 80px; font-weight: 100;">Mobile Application Development</h1><br><h2>Andriod & IOS</h2>
      </div>
    </div>

    <section id="contact" class="contact">
    <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Andriod Development</h1>
        </div>
        <div class="col-lg-10">
          <p>Applications are a fantastic way to recognize, target and efficiently interact with your users while simultaneously building a long-lasting relationship between your brand and its audience. Your app can either be an extension of an existing web-based asset (web app) or a stand-alone native app with deep-linking capabilities. We can offer both native and Web App developers coupled with Creative UX design and seamless systems integration for the optimum solution.</p>
          <p>we are always eager to receive new ideas from clients and as one of the top mobile app development and web development company, we add value to client’s businesses. our Android app developers are expert in the most recent Android platform and API bundles, as well as Java, Kotlin, C++ and development tools like Android Studio and the Eclipse IDE. We provide complete solution from design to code to deploying your App on the Google Play Store. We know what can turn the concept of a raw app into a good product</p>
          <p>Our highly secure applications with multi-layer protection makes us a reliable software development company. The coding network we built is robust, independent of development platform. Android has the huge market share of over 85% globally and with this largest user base android app ecosystem has evolved to be a diverse one and its usage is changing people lives on a great scale. Low power usage, easy mobility and wireless connectivity have contributed significantly in penetrating the areas where using a computer is a distant dream. Apart from other factors, the low-cost and high availability have made it especially attractive in developing nations like India as compared to iPhone, windows and Java based devices.</p>
        </div>

        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Start Developing Andriod Application</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="iosdevelopment">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-briefcase-fill"></i>
                  <h4>Satisfying Business Needs</h4>
                  <p>Businesses are moving online to reach the increased online customer base.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-shield-lock-fill"></i>
                  <h4>Great Security Features</h4>
                  <p>Repeated Security check is done to ensure the Android Applications with high-security standards are deployed. </p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-graph-up"></i>
                  <h4>Good Return On Investment</h4>
                  <p>This increases business opportunities by reaching audiences all over the world.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">IOS Development</h1>
        </div>
        <div class="col-lg-10">
          <p>IOS Application Design and Development not only helps the business to generate the new business but also helps the business to optimally utilise the online sources of opportunity. The IOS users are rising all over the globe so the IOS Applications become a great tool to reach the large audience base. The businesses can target the niche IOS audiences and engage them in the business activities effectively and get better Return On Investment.</p>
          <p>Various IOS applications need different levels of customizations depending on the innovations and creativity needed to achieve in the final solution. The complete identification of the needs and utilizing the resources to craft the required customizations is the fundamental working approach of MeshScript. Some software and business applications are at the core of the entire business operations and it becomes necessary to ensure the collaboration among the different online platforms.</p>
          <p>The integrations of various API’s and different ERP software is carried out through understanding and delicately to ensure immaculate integration within the given time framework. MeshScript has comprehensive IT resources to encompass all the requirements of the various integrations, data transfer and customizations to give solutions for everything at one place.</p>
        </div>
        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Start Developing iOS Application</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-slack"></i>
                  <h4>iOS App Design</h4>
                  <p>MeshScript has the experience and expertise to design the quality user interfaces to bring more creativity and innovation in the IOS development process.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-tools"></i>
                  <h4>iOS App Support and Maintenance</h4>
                  <p>MeshScript has the resources to provide 24×7 support and maintenance to ensure the consistent performance</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-puzzle-fill"></i>
                  <h4>Custom IOS Application Development</h4>
                  <p>MeshScript's team of experts thrive to create a customized application on all the levels of complexities to satisfy a particular business need.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br><br>
      



      <app-contact-detail></app-contact-detail>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->