  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/hero/1.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h1 style="font-family: 'Ruthie', cursive; font-size: 50px; text-align: center;"><span>Design Your Business Digital</span></h1><br>
              <p>With expert advice and fully qualified staff, the company is able to offer professional IT Services that include Hardware and Software, Sales, IT Consultancy and Engineering. We can supply a range of Computer Hardware and Software from leading manufacturers at promising prices. Our services are designed to give customers easy-to-use, complete and dependable technology solution.</p>
              <div class="text-center"><a routerLink="contact" class="btn-get-started">Contact Us</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(assets/img/hero/2.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2 style="font-family: 'Ruthie', cursive; font-size: 50px; text-align: center;">Lets Take Your Business To Next Level</h2>
              <p>We MeshScript, is a Digital Marketing and Software Development company founded in the year 2020. We assist and serve, to grow your business to their apex potential and generate maximum Returns On Investments through Digital and Online Services. Our team ensure a flourishing growth and online reputation for the business through profound expertise and experience.</p>
              <div class="text-center"><a routerLink="contact" class="btn-get-started">Contact Us</a></div>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(assets/img/hero/3.jpg);">
          <div class="carousel-container">
            <div class="carousel-content animate__animated animate__fadeInUp">
              <h2 style="font-family: 'Ruthie', cursive; font-size: 50px; text-align: center;">Start Growing Your Business Today</h2>
              <p>We Are A Full Service Agency Serving Your Digital Strategy And Marketing Needs. Our Mission Is To Help Every Business We Touch Create An Online Presence That Sells Their Products Or Services And That Positions Them As Industry Leaders.We Love To Hear From People So Feel Free To Reach Out And Connect With Us On Social Media.</p>
              <div class="text-center"><a routerLink="contact" class="btn-get-started">Contact Us</a></div>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us">
      <div class="container" data-aos="fade-up">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right">
            <h1 style="text-align: center; margin-bottom: 20px;"><img src="./../../../assets/img/logo.png" alt=""></h1>
            <h3 style="text-align: center;">" To provide high quality products that combine performance with value pricing while establishing a successful relationship with our customer."</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <p>
              We are one of the top Software Development agencies in India and our team works assiduously in tandem with the latest marketing tools in a quest to produce the best and most successful strategy for our customers ensuring an excellent conversion ratio.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> 24 X 7 Support</li>
              <li><i class="ri-check-double-line"></i> Best, Cheap & Reliable</li>
              <li><i class="ri-check-double-line"></i> Quality Works</li>
            </ul>
            <p class="font-italic">
              Total transparency, quality product, fast and secure delivery. We have excelled in each front to offer you end-to-end web solutions across technologies and platforms.
            </p>
          </div>
        </div>
        <br><br>
      </div>
    </section><!-- End About Us Section -->




    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Our Services</h1>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="bx bx-devices"></i>
              </div>
              <h4><a href="website.php">Website Development & Maintainance</a></h4>
              <p>We offer Web Application Development Services to help you build anything from basic informational websites to complex web applications</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="bx bx-category-alt"></i>
              </div>
              <h4><a href="advertising.php">Paid Advertisement</a></h4>
              <p>You only pay when someone chooses to watch at least 30 seconds or clicks on your ad. Engage with your most valuable audiences on the world's largest video platform. Reach the Right Customers. Make A Video Ad. Be Seen On YouTube.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="bx bx-category"></i>
              </div>
              <h4><a href="application.php">Android & IOS App Development</a></h4>
              <p>As consumer behaviour continues to evolve, businesses need to adapt their strategy to be 'where their customers are'. As a result, companies are moving rapidly toward making mobile apps commonplace as business tools and assets.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bxs-landscape"></i>
              </div>
              <h4><a href="graphic.php">Graphics & Logo Designing</a></h4>
              <p>Great businesses need great graphic design, Graphic design has a big role to play in the modern competitive business environment. Businesses need the services of graphic designers to create impressive marketing materials. These materials include brochures, business cards, websites, leaflets, stationeries and so on.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx  bx-globe"></i>
              </div>
              <h4><a href="seo.php">Search Engine Optimization (SEO)</a></h4>
              <p>The best way to grow your traffic, no matter what your business, is by creating a website with both search engines and your visitors in mind. In today's search engine-oriented market, SEO is the most effective way to drive traffic to your website without paying for advertisements.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bx bx-dollar"></i>
              </div>
              <h4><a href="marketing.php">Digital Marketing</a></h4>
              <p>Today Social Media Marketing has become an important part of overall marketing strategy. Build a strong social media presence. Use email marketing to connect with customers. Expand website marketing. Start using video marketing. Use in-house digital marketing</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Our Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="fade-up">

        
          <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Creativity</h2>
        <br>

        <div class="row no-gutters clients-wrap clearfix" data-aos="fade-up">

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/lokdal.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/AISCA.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/Grandirplus.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/orizox.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/gdgoenka.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/seg.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/learnsoftech.png" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-3 col-md-4 col-6">
            <div class="client-logo">
              <img src="assets/img/clients/medozyme.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Clients Section -->


 <!-- ======= Our Team Section ======= -->

 <!-- <section id="team" class="team section-bg">
  <div class="container">

    <div data-aos="fade-up">
      <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Our Team</h2>
      <p style="text-align: center;">We believe in excellence, and our team works assiduously to provide you with outstanding services. Our mission and vision have always been of achieving perfection in our every venture.</p>
    </div>
    <br>
    <div class="row">

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up">
          <div class="member-img">
            <img src="assets/img/team/Neeraj.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Neeraj Kumar</h4>
            <span>Graphic Designer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="assets/img/team/Kartik.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="https://twitter.com/kartikkaushik9"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/kartik.kaushik.338"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/coolboykartik.kaushik/"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/in/kartik-kaushik-582a7315a/"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kartik Kaushik</h4>
            <span>Full-Stack Developer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="https://atomicyeti.files.wordpress.com/2017/01/8024.png" class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Aman Singh</h4>
            <span>Andriod & Networking Expert</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="assets/img/team/saurav.jpg" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Saurav Kumar</h4>
            <span>Digital Marketing Head</span>
          </div>
        </div>
      </div>

    </div>

  </div>
</section> -->

<!-- End Our Team Section -->



    <!-- ======= Technology Features Section ======= -->

    <!-- <section id="features" class="features">
      <div class="container" data-aos="fade-up">

       
          <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Technologies</h2>
          <p style="text-align: center;">Achieve massive results with our offers
            We make sure you continue to growing with us!</p>
        <br>

        <div class="row">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="fab fa-bootstrap" style="color: #2c52eb;"></i>
              <h3><a href="">Bootstrap</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="fab fa-java" style="color: #df7f11;"></i>
              <h3><a href="">Java</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="fab fa-html5" style="color: #df5211;"></i>
              <h3><a href="">HTML 5</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
            <div class="icon-box">
              <i class="fab fa-css3-alt" style="color: #1160df;"></i>
              <h3><a href="">CSS 3</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-js-square" style="color: #f3dc0f;"></i>
              <h3><a href="">JavaScript</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-php" style="color: #1684dff3;"></i>
              <h3><a href="">PHP</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-python" style="color: #d8ec28;"></i>
              <h3><a href="">Python</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-node" style="color: #28ec32;"></i>
              <h3><a href="">Node JS</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-swift" style="color: #cedd85;"></i>
              <h3><a href="">Swift</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-android" style="color: #31bd25;"></i>
              <h3><a href="">Android</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-wordpress" style="color: #2574bd;"></i>
              <h3><a href="">Wordpress</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-react" style="color: #3235e0;"></i>
              <h3><a href="">React</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-angular" style="color: #cf2610;"></i>
              <h3><a href="">Angular JS</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fas fa-ad" style="color: #2c52cf;"></i>
              <h3><a href="">Advertisement</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fab fa-apple" style="color: #9e9e9ec5;"></i>
              <h3><a href="">Mac</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="fas fa-image" style="color: #1936aae3;"></i>
              <h3><a href="">Photoshop</a></h3>
            </div>
          </div>
        </div>

        
        
      </div>
    </section> -->

    <!-- End Features Section -->




</main><!-- End #main -->



