<main id="main">

    <!-- ======= Contact Section ======= -->
    <style>
      
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: aliceblue;
}






    </style>
    <div class="hero-image">
      <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 80px; font-weight: 100;">Graphic Designing</h1><br>
      </div>
    </div>

    <section id="contact" class="contact">
    <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Banner & Poster Designing</h1>
        </div>
        <div class="col-lg-10">
          <p> we strive to provide you cohesive image with a visually consistent and clutter free design. We offers the best graphic design services that leads to good businesses. We develop vector art images, icons, logos, brochures, banners and more. We hope to be part of your lives in some way when you are in need of high quality artwork services. You can opt us for Quality Web Designs, Graphic Designs, Print Designs, Emailer, Templates, Basic to Advance Website Development, Animation, 3D Interactive Audio / Visual effects, Internet Marketing and Branding.</p>
          <p>Our designed banners are a cost-effective form of marketing that allows you to go big and bold with your advertising. Our team of professional sign manufacturers will help you design a banner that highlights the most appealing aspects of your business advertising while speaking directly to your targeted audience.</p>
          <p>Extend your significance even more with a high quality Posters design with iconic creators. These posters & hoarding can be used in targeted mailings as well as on the street or at your next exhibition.</p>
        </div>

        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Take Your Brand in Digital Market</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="office">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bookmarks-fill"></i>
                  <h4>Suitable Template</h4>
                  <p>This is one of the most important parts of poster design. The templates that we pick are according to the poster, or occasions or events.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-palette2"></i>
                  <h4>Designing the Content</h4>
                  <p>Our expert team will propose innovative designs that are in sync with the product. The objective is to have a transparent and clear layered message as per the content and demand.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-palette-fill"></i>
                  <h4>Colouring</h4>
                  <p>Based on products we make sure the design gets appropriate color treatment. For Posters & banners, larger resolution of color palettes are used.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Office Product Designing</h1>
        </div>
        <div class="col-lg-10">
          <p>Custom printed envelopes available in different sizes - Envelope #10, A4 Envelopes, C5 Envelopes</p>
          <p>Letterhead, Envelopes (#10), Envelopes (A4), Envelopes (C5), Letter pads, Preinked Stamps, Combo Packages, Presentations / Reports : Black & White, Colour & More.</p>
          <p>Notebooks, Kraft Scratchpad, Kraft Notebook & More.</p>
          <p>Certificates, Folders / Dockets, Paper Files, Receipt Books, Share certificates & More.</p>
        </div>
        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Designed your Official Products</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="logo">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-image-fill"></i>
                  <h4>Any Dimension sizes</h4>
                  <p>We will Desigin the product in any dimensions.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-file-image"></i>
                  <h4>High Resolution</h4>
                  <p>The quality of the image is high, so that it can also be used with bigger sized products.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-speedometer2"></i>
                  <h4>Fast Delivery</h4>
                  <p>We know that time always matters, therefore we always work under the time limit.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br><br>
      
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Logo Designing</h1>
        </div>
        <div class="col-lg-10">
          <p>Are you looking for the logo that represents you? Do you realize that logo is the most important element in your marketing kit? Then Congratulations! Wondering why are we congratulating you? This is because you are among the very few who realize that the logo is the first touchpoint for your clients and it sets the look and feels for the brand. Only a good logo has the power to give you recognition among your competitors.</p>
          <p>The logos that MeshScript creates for businesses are appreciated because they set them apart from their competitors, help in growing the business and build trust with the customers. Our team will design a logo that will be symbolic of your company goals and objectives. We ensure that the logo designs represent your company and become a symbol your company goals.</p>
          <p>A logo is an appearance of a brand; choosing a logo as a brand identity helps build a recognizable brand to your right target group. A professional logo design gives businesses identified to know the brand in the same way we want them to look at it. There is no recognized brand without a logo.A creative best Logo design significantly impacts your customers regarding any impression medium like packaging, advertisement, business stationery, or any media. A logo speaks and tells its customers that it's the right to choose any product and service to talk about the brand in a few seconds to any viewer.</p>
        </div>
        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Get Logo for your brand</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-award-fill"></i>
                  <h4>Simplicity</h4>
                  <p>Only the simple and effective logos manage to grasp the attention of the users.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-columns-gap"></i>
                  <h4>Uniqueness</h4>
                  <p>The only thing that can make your logo stand out from your competitors is the freshness and uniqueness.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-ui-checks"></i>
                  <h4>Relevancy</h4>
                  <p>It should give clients an idea of what you are offering even before they visit your website.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <br><br><br>
      <app-contact-detail></app-contact-detail>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
  