<main id="main">

    <style>
        
        .hero-image {
          background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/about.jpg");
          height: 50%;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          position: relative;
        }
        
        .hero-text {
          text-align: center;
          padding-top: 100px;
          padding-bottom: 100px;
          color: aliceblue;
        }
            </style>
            <div class="hero-image">
              <div class="hero-text">
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <h1 style="font-size: 80px; font-weight: 100;">Our Works</h1><br>
              </div>
            </div>
        
  
      <!-- ======= Portfolio Section ======= -->
      <section id="portfolio" class="portfolio">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Completed Projects</h1>
        </div>
        <div class="container">
  
          <div class="row" data-aos="fade-up">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".Education">Education</li>
                <li data-filter=".BE">Bussiness & E-Commerce</li>
                <li data-filter=".SP">Sports & Ploitical</li>
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container" data-aos="fade-up">
  
            <div class="col-lg-4 col-md-6 portfolio-item BE">
              <img src="./../../../assets/img/work/Computer Sphere.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>ComputerSphere</h4>
                <a href="./../../../assets/img/work/Computer Sphere.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="http://computersphere.epizy.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item Education">
              <img src="./../../../assets/img/work/Learn Softech.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Learn Softech</h4>
                <a href="./../../../assets/img/work/Learn Softech.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="https://learnsofti.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item SP">
              <img src="./../../../assets/img/work/Lokdal.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Lokdal</h4>
                <a href="./../../../assets/img/work/Lokdal.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="http://devkartik.epizy.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item BE">
              <img src="./../../../assets/img/work/Medozyme.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Medozyme</h4>
                <a href="./../../../assets/img/work/Medozyme.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="https://medozyme.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item Education">
              <img src="./../../../assets/img/work/Mesh Script.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>MeshScript</h4>
                <a href="./../../../assets/img/work/Mesh Script.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item Education">
              <img src="./../../../assets/img/work/grandirplus.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Grandirplus</h4>
                <a href="./../../../assets/img/work/grandirplus.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="https://grandirplus.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item SP">
              <img src="./../../../assets/img/work/aisca.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>AISCA</h4>
                <a href="./../../../assets/img/work/aisca.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="http://erkartik.epizy.com/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item BE">
              <img src="./../../../assets/img/work/orizox.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Orizox</h4>
                <a href="./../../../assets/img/work/orizox.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="#" class="details-link" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item Education">
              <img src="./../../../assets/img/work/GDGPS.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>GD Goenka</h4>
                <a href="./../../../assets/img/work/GDGPS.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link"><i class="bx bx-plus"></i></a>
                <a href="https://gdgoenkaaligarh.com/admission/" target="_blank" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Portfolio Section -->
  
    </main><!-- End #main -->
  