 <!-- ======= Footer ======= -->
 <footer id="footer">

    <div class="footer-top">
      <h2 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36; margin-bottom: 5px;">Find More</h2>
      <div class="container">
        <div class="row">
    
          <div class="col-lg-3 col-md-6 footer-contact">
            <a href="<?= $this->config->item('base_url') ?>"><img src="<?= $this->config->item('assets_url') ?>img/meshscript white.png" alt=""></a>
            <br><br><br>
            <p class="footer-links">
              VIKAS NAGAR, NEAR COMMANDER CHOWK, UTTAM NAGAR, NEW DELHI-110059 <br><br><br>
            </p>
            <div class="footer-links">
              <h4>Call Now</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="tel:8375966376"><strong>Kartik:</strong> +91-8375966376<br></a></li>
              </ul>
            </div>
            <div class="footer-links">
              <h4>Email Us</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="mailto:info@meshscript.com"> info&#64;meshscript.com<br></a></li>
              </ul>
            </div>
            
          </div>
    
          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('base_url') ?>">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>projects">Recent Projects</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>skills">Skills & Technology</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>contact">Contact</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Blogs</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Payment</a></li>
            </ul>
          </div>
    
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>website">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>website#webdevelopment">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>website#webmantaint">Website Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>application">Andriod Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>application#iosdevelopment">IOS Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>graphic">Posters & Banners Designing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>graphic#office">Office Product Designing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>graphic#logo">Logo Designing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>seo">Search Engine Optimization</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>marketing">Digital Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>marketing#social">Social Media Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>advertising">Youtube Advertisiment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="<?= $this->config->item('app_url') ?>advertising#google">Google Advertisement</a></li>
            </ul>
          </div>
          
          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Subscribe for regular update</h4>
            <p>Please provide us your Email address</p>
            <form action="#" method="post">
              <input type="email" name="email" required><input type="submit" name="submit" value="Subscribe">
            </form>
          </div>
    
        </div>
      </div>
      <div style="text-align: center; margin-left: 20%; margin-right: 20%;">
        <p>With expert advice and fully qualified staff, the company is able to offer professional IT Services that include Hardware and Software, IT Consultancy and Engineering. We can supply a range of Computer Hardware and Software from leading manufacturers at promising prices. Our services are designed to give customers easy-to-use, complete and dependable technology solution.</p>
      </div>
      
    </div>
    
    <div class="container d-md-flex py-4" style="padding-left: 70px; padding-right: 70px">
    
      <div class="me-md-auto text-center text-md-start pl-4">
        <div class="copyright">
          All Rights Reserved | <strong><span>MeshScript PVT LTD </span></strong>&copy; Copyright  
        </div>
        <div class="credits">
          Designed & Developed by <a href="https://www.meshscript.com/">MeshScript Pvt Ltd</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="https://www.facebook.com/MeshScript-108142988008330" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/meshscript/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/company/meshscript/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
    </footer>
    <!-- End Footer -->
    
    <style>
    

    </style>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <a href="https://api.whatsapp.com/send?phone=8375966376&text=Hi I want new website for my bussiness." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
    </a>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
   
    
