<style>
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        color: aliceblue;
    }
</style>


<main id="main">

    <!-- ======= Contact Section ======= -->
    <div class="hero-image">
        <div class="hero-text">
            <br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h1 style="font-size: 80px; font-weight: 100;">Website Services</h1><br>
        </div>
    </div>

    <section id="contact" class="contact">
        <br><br><br><br><br>
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="section-title">
                <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Website
                    Designing</h1>
            </div>
            <div class="col-lg-10">
                <p>In the digital Era, a website is an essential element for businesses, irrespective of their size and
                    type. It helps them increase their brand presence via the Internet breaking the geographical
                    boundaries. A professional website design itself can be used to attain various marketing strategies
                    in order to help your business surge. Thoughtfully created website designs have a far outspread
                    reach than any other form of marketing tools.</p>
                <p>The increasing visibility is one of the factors that necessitate having a site with clean web page
                    design. A professional web design arouses the curiosity of the visitors to dive in further. Whether
                    you’re into construction, food & drink, education, or any such business, MeshScript is a
                    single-point destination for all your needs.</p>
                <p>Without a web presence, you automatically lose the opportunity to get in touch with your target
                    audience and popularize your brand. Build consumer trust and gain market referrals with an
                    interactive, custom web page design. Creating a digital presence doesn’t mean simply building a
                    website and waiting for customers to approach your brand. Your website is your company’s online
                    foundation. It serves as your primary customer touchpoint and conversion machine. As such, you must
                    ensure it ranks high in search engines, stands out from the competition and relates to your
                    visitors' intentions.</p>
            </div>

            <div class="col-lg-10">
                <br>
                <a routerLink="/contact"><button class="selectbtn"
                        style="width:300px; height:40px; border-radius:20px;">Start Designing Website</button></a>

                <br><br><br>
            </div>


            <div class="row justify-content-center" data-aos="fade-up" id="webdevelopment">

                <div class="col-lg-10">

                    <div class="info-wrap">
                        <div class="row">
                            <div class="col-lg-4 info">
                                <i class="bi bi-intersect"></i>
                                <h4>Designs</h4>
                                <p>We Design the website to get attention of the customers.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-file-image"></i>
                                <h4>Image Quality</h4>
                                <p>Images selection is the most important task in Website Designing.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-palette2"></i>
                                <h4>Fonts & Icons</h4>
                                <p>It is the fundamental unit of website Design and we choose it wisely.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="section-title">
                <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Website
                    Development</h1>
            </div>
            <div class="col-lg-10">
                <p>Due to the growing demands of the web enabled services, the need for quality rich websites are
                    increasing. A website with right blend of creativity and functionality can boost up the online
                    presence of your business. we provide end to end flexible advanced web development solutions and
                    services in India. Our professional and skilled web developers build excellent websites using the
                    latest technologies that are reliable and resourceful.</p>
                <p>As per the unique requirements of corporate, start ups, small, medium and large businesses, we
                    provide advanced solutions to the clients across the globes from various domain industries. We are
                    keen in delivering web solutions that are stable, secure, scalable, fast loading, easy to navigate
                    and standard compliant. We deliver cutting edge dynamic web solutions that increase your concern's
                    visibility and thus amplify the ROI.</p>
                <p>We are a team of professional and skilled website developers who can build your application according
                    to your specifications ! Most people confuse website designing and development, website designing
                    has a lot to do with appearance while development part is mostly related to backend and structure.
                    MeshScript has created a space for itself in the National Website market not only because of its
                    quality but also for its timely delivery and customer support. We don't believe in only developing a
                    website rather we insist in putting forth our suggestions against the customer for improving the
                    website which would directly affect their business in a positive note.</p>
            </div>
            <div class="col-lg-10">
                <br>
                <a routerLink="contact"><button class="selectbtn"
                        style="width:300px; height:40px; border-radius:20px;">Start Developing Website</button></a>

                <br><br><br>
            </div>


            <div class="row justify-content-center" data-aos="fade-up" id="webmantaint">

                <div class="col-lg-10">

                    <div class="info-wrap">
                        <div class="row">
                            <div class="col-lg-4 info">
                                <i class="bi bi-bug-fill"></i>
                                <h4>Bug Free Code</h4>
                                <p>We provide you the website with zero Bug.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-clock-fill"></i>
                                <h4>24 X 7 Support</h4>
                                <p>MeshScript has the resources to provide 24×7 support and maintenance to ensure the
                                    consistent performance.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-shield-fill-check"></i>
                                <h4>Stable, Secure & Fast</h4>
                                <p>We Develop the quality website to provide fast & reliable user experience.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br>
        <div class="row mt-5 justify-content-center" data-aos="fade-up">
            <div class="section-title">
                <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Website
                    Maintainance</h1>
            </div>
            <div class="col-lg-10">
                <p>Let our team handle your website issues and you concentrate on your core business. We provide 24/7
                    service on website maintenance and make sure, your website is live all the time. We start with
                    website audit, optimizing your website and remove all errors with content management. It helps your
                    website, perform well during peak load hours so that you do not miss any sale.</p>
                <p>The program is made of years of experience and enhanced with keeping systemization and client
                    satisfaction in focus. we were continuously improving considering current and future internet
                    threats. We are continuously improving and adding more features to it. Our objective is to make this
                    program so robust that any website falling under our website maintenance program will be 100% safe
                    and secure.</p>
                <p>Our intensive maintenance checklist ensures your website performs at the best. All the performance
                    monitoring activities are scheduled, Our transparent system also ensures that the detailed report is
                    sent across to you. Due to frequently updated content, traffic comes from search engines and also
                    the repeated visitors get increased. The updated website communicates with the target audiences and
                    will help you convert your visitors into leads. We take care of all of the above for your at very
                    affordable price. </p>
                <p>We take care of all of the above for your at very affordable price. We believe that website
                    maintenance gives you a sustainable competitive edge and so we help you build and manage a competent
                    website through our best of skills and abilities. We work in tandem with the customer’s needs and
                    upkeep their functional websites by revising, editing and improving the web pages. When we maintain
                    the client’s websites adeptly, they can focus on their core competencies and work towards a
                    successful enterprise.</p>
            </div>
            <div class="col-lg-10">
                <br>
                <a routerLink="contact"><button class="selectbtn"
                        style="width:300px; height:40px; border-radius:20px;">Start Maintaining Website</button></a>

                <br><br><br>
            </div>


            <div class="row justify-content-center" data-aos="fade-up">

                <div class="col-lg-10">

                    <div class="info-wrap">
                        <div class="row">
                            <div class="col-lg-4 info">
                                <i class="bi bi-clipboard-check"></i>
                                <h4>Website Content / Image Updates</h4>
                                <p>Whenever you want to get any change done to your website, just drop us an email, and
                                    it will be done for you.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-tools"></i>
                                <h4>Address Technical Issues</h4>
                                <p>Want to get a new feature added to the website? Want to get a new section added to a
                                    page? We got it covered.</p>
                            </div>

                            <div class="col-lg-4 info mt-4 mt-lg-0">
                                <i class="bi bi-box-arrow-down"></i>
                                <h4>Website Backup</h4>
                                <p>We take Daily/Weekly/Monthly Remote Clod Backup, so that in case of any disaster, the
                                    remote backup will be safe.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <br><br><br>



        <app-contact-detail></app-contact-detail>




    </section><!-- End Contact Section -->

</main><!-- End #main -->