<main id="main">

    <!-- ======= Contact Section ======= -->
    <style>
      
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: aliceblue;
}






    </style>
    <div class="hero-image">
      <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 80px; font-weight: 100;">Search Engine Optimization</h1><br>
      </div>
    </div>

    <section id="contact" class="contact">
    
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">SEO</h1>
        </div>
        <div class="col-lg-10">
          <p>SEO or Search Engine Optimization is the practice of promoting website so that your site has the maximum number of organic visitors. It is about making your site better for people and Search Engines. We are leading SEO service provider in India. We are an experienced and talented team of passionate consultants who live and breathe search engine marketing.</p>
          <p>Our professional and expert SEO help you to bring your business at the effective place where you get most appreciations for your products or services. No matter what type of business you are handling big or small sizes of business even, all your businesses will be operated successfully through SEO experts. At SEO service platform we are long term experienced and highly professional to provide the best and finest quality of SEO services to our valuable customers. Whether you are fresher or experienced business persons we are here to offer you always top and most excellent SEO services where you won’t have to face any downs in your business and you will find your business site on top list through optimizing the latest and popular search engines.</p>
          <p>We have developed search strategies for leading brands to small and medium sized businesses across many industries. We enjoy adapting our strategies to offer every client the best solutions that are at the forefront of the industry.</p>
        </div>

        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Start SEO on Website</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="iosdevelopment">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bar-chart-line-fill"></i>
                  <h4>Onsite SEO</h4>
                  <p>We analyse your website’s structure, internal architecture & other key elements that are weighted.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-diagram-3-fill"></i>
                  <h4>Media Promotion</h4>
                  <p>While the search engines are still in their infancy in understanding & using social signals algorithmically.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-clipboard-data"></i>
                  <h4>Reporting & Analysis</h4>
                  <p>We love data and provide monthly reporting on visibility, analytics, conversions & revenue.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      
   
      



      <br><br><br>
      <app-contact-detail></app-contact-detail>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->