<main id="main">

    <!-- ======= Contact Section ======= -->
    <style>
      
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./../../../assets/img/hero/website.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  color: aliceblue;
}
</style>

    <div class="hero-image">
      <div class="hero-text">
        <br><br><br><br><br><br><br><br><br><br><br><br><br>
        <h1 style="font-size: 80px; font-weight: 100;">Digital Marketing & Social Media Marketing</h1><br>
      </div>
    </div>

    <section id="contact" class="contact">
    <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Digital Marketing</h1>
        </div>
        <div class="col-lg-10">
          <p>Digital marketing is leveraging digital technologies, tactics, and channels to connect organizations with existing and prospective customers. It helps businesses grow, in spite of constraints like location, by enabling them to reach a targeted audience. It is a way to influence audiences online - be it through a website, blogs, video content, social media, or partnerships. Digital Marketing is a constantly evolving field and marketers must constantly be up-to-date and informed in order to stay ahead of competitors. The truly unique thing about digital marketing is that we can reach large audiences as well as niche segments of these audiences without compromising scale. Unlike traditional marketing, we can also track the success of digital campaigns down to revenue, engagement, clicks, leads etc.</p>
          <p>According to Bloomberg average time spend by people on digital platforms in the world is around 4-5 hours a day. And almost 4.5 million people are there on digital platforms at a particular time slot. Our experts are here for you to assist you in taking your business online so that it can reach to potential and at a large audience that is present online. With our best plans, strategy, expertise you can utilize a great potential business.</p>
          <p>A digital marketing agency drives results-based marketing strategy, focusing on delivering ROI and helping a brand fulfill its objectives using digital skills and technology. They develop strategies to maximize awareness and acquire leads. Digital agencies need to be fast-paced and and balance user-experience with brand perspective. </p>
        </div>

        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Take Your Brand in Digital Market</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up" id="social">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bar-chart-fill"></i>
                  <h4>Best ROI</h4>
                  <p>Digital marketing can give you the maximum bang for your buck – with considerably less investment than TV, print or outdoors but with phenomenal results.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-bullseye"></i>
                  <h4>Targeted marketing</h4>
                  <p>The digital medium is the only one that allows you to really filter your audience down to the narrowest demographic and psychographic profiles so there is the least spill over</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-graph-up"></i>
                  <h4>Quantify your success</h4>
                  <p>The digital medium allows you to accurately track, monitor and quantify the success of your campaign with keyword tracking, analytics, CPCs, traffic and analysing likes & followers.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br><br><br><br>
      <div class="row mt-5 justify-content-center" data-aos="fade-up">
        <div class="section-title">
          <h1 style="font-family: 'Ruthie', cursive; font-size: 80px; text-align: center; color: #1bbd36;">Social Media Management</h1>
        </div>
        <div class="col-lg-10">
          <p>With higher reach and engagement than Display and lower CPCs than Search, Social Advertising is a powerful tool. An advertising strategy combining Facebook, Twitter, LinkedIn etc. could deliver profitable results if executed well. We use the latest ad formats, insights from analytics, remarketing tools and proven social advertising strategies to deliver superior performance. Whether your business is taking advantage of it or not, social media has changed the way that consumers communicate with businesses, and vice versa. Social media is a vital means of developing relationships with the customer and helping them through the sales funnel.</p>
          <p>Give us a call or shoot us an email to get started with. From there, you will be introduced to one of our marketing specialist who will identify your needs and develop a unique strategy for your business to reach your goals. It can be. Our expertise in social media not only find your target audience, but drive them to you website or store front on a consistent basis.</p>
          <p>While B2C businesses can focus more on entertaining and fun social media posts to bring more engagement, and B2B businesses need to use social media to share valuable industry content. As a tool for connecting a business with its customers. Facebook/Instagram is the social media platform of choice for over a billion people worldwide. Use it to connect and interact with your audience, and to share your content/offerings through ADs posts, in a way that encourages your fans to share it as well.</p>
        </div>
        <div class="col-lg-10">
              <br>
              <a routerLink="/contact"><button class="selectbtn" style="width:300px; height:40px; border-radius:20px;">Get your Social Media Managed</button></a>
            
            <br><br><br>
          </div>


        <div class="row justify-content-center" data-aos="fade-up">

          <div class="col-lg-10">

            <div class="info-wrap">
              <div class="row">
                <div class="col-lg-4 info">
                <i class="bi bi-bullseye"></i>
                  <h4>Defining Your Goals</h4>
                  <p>Increased brand recognition and improved brand loyalty, New potential clients based on user interest.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-people"></i>
                  <h4>Targeting the Right Audience</h4>
                  <p>The audience we target is highly researched and have a high chance of being your repeated customers.</p>
                </div>

                <div class="col-lg-4 info mt-4 mt-lg-0">
                <i class="bi bi-wrench"></i>
                  <h4>Optimizing your Strategy</h4>
                  <p>Decreased advertising costs via lower Cost Per Acquisitions (CPAs) & Better customer insight.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br><br><br><br><br>
      



      <br><br><br>
     <app-contact-detail></app-contact-detail>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->